.users_wrapper {
    background: #ece5dd;
    border: 1px solid #ccc;
    border-width: 1px 0 1px 1px;
    width: 310px;
}

ul.usersList {
    margin: 0;
    padding: 0;
}

.users_list {
    height: 400px;
    overflow: auto;
}

.logged_in_user {
    background: #075e54;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    height: 63px;
}

.loggedInUserName {
    color: #fff;
}
